@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"),
    url("fonts/Montserrat-Black.ttf") format("truetype"),
    url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"),
    url("fonts/Montserrat-Light.ttf") format("truetype"),
    url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;

}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

body {

  background-color: #fff;
  font-size: 20px;
  line-height: 1.6;
  font-family: "Pass through", sans-serif;
  color: #111f4b;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.l-viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.l-wrapper {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}



.l-main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-section {
  position: absolute;
  width: 100%;
  height: 100vh;

}

.section--is-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  -webkit-transition: opacity 0.4s ease-in-out 0.4s;
  transition: opacity 0.4s ease-in-out 0.4s;
}

.header {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
}

#navbarNav {

  font-size: 16px;
  text-decoration: none;
  padding-right: 100px;
}

#navbarNav li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
}


#navbarNav a {
  text-decoration: none;
  color: #111f4b;

}

#navbarNav a:hover {
  color: #295cf5;
}


/* dropdown menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 4.8rem;
  top: 80px;
  height: 0;
  width: 300px;
  background: white;
  font-family: 'Lilita One', cursive;
  overflow: hidden;
  transition: all 0.2s;
}

.dropdown_menu.open {
  height: 190px;
}

.dropdown_menu a {
  text-decoration: none;
  color: #111f4b;
  font-size: 16px;
  margin: -5px;
}

.dropdown_menu a:hover {
  color: #295cf5;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
}

/* responsive dropdown */
@media screen and (max-width: 900px) {
  .dropdown_menu {
    left: 0;
    width: 100%;
  }

  .toggle-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    margin-right: 30px;
  }


  .toggle-menu span {
    display: block;
    background-color: #111f4b;
    height: 2px;
    width: 35px;
  }
}

.header--logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #111f4b;
  padding: 0 100px;
}

/* responsive navbar */

@media screen and (max-width: 900px) {
  #navbarNav {
    display: none;
  }


  #navbarNav li {
    display: block;
    padding-top: 15px;
  }

  #navbarNav.show {
    top: 0;
  }

  .dropdown_menu {
    display: block;

  }
}

nav .toggle_btn {
  float: right;
  padding-top: 13px;
  padding-right: 80px;
  cursor: pointer;
  display: none;
}

/* responsive navbar */
@media screen and (max-width: 900px) {

  nav .toggle_btn {
    display: block;
  }
}

.header--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro {
  top: 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 92vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .intro {
    max-width: 100%;
  }
}

.intro--banner {
  position: relative;
  height: 100vh;
}

.intro--banner::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -15px;
  right: 0;
  height: 2px;
  background-color: #282828;
}

.intro--banner h1 {
  position: relative;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
}

@media screen and (min-width: 602px) {
  .intro--banner .img {
    left: 400px;
  }
}

.intro--banner img {
  position: absolute;
  bottom: 21px;
  right: -12px;
}



@media screen and (max-width: 604px) {
  .cta {
    top: -70px;
  }
}

@media screen and (min-width: 601px) {
  .cta {
    top: -95px;
    left: 10px;
  }
}

@media screen and (min-width: 767px) {
  .cta {
    top: -50px;
  }
}

@media screen and (min-width: 901px) {
  .cta {
    bottom: 20px;
  }
}

@media screen and (max-width: 908px) {
  .intro {
    max-width: 85%;
  }

}


.cta {
  position: relative;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  display: inline-block;
  padding: 10px 20px;
  color: #111f4b;
  background-color: rgb(255, 255, 255);
  border: 2px solid #111f4b;
}

.cta:hover {
  color: #123bc5;
  background-color: rgb(255, 255, 255, 0.5);
  outline: 0px;
  border: 1px solid #ffffff;
  text-align: left;
  transition: all 0.3s;
}

.intro--options {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro--options>a {
  max-width: 250px;
  text-decoration: none;
  color: #111f4b;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.intro--options>a:hover {
  color: #4990e2;
}

.intro--options h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.intro--options p {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .intro--banner {
    height: 380px;
  }

  .intro--banner h1 {
    font-size: 55px;
  }

  .intro--banner img {
    width: 430px;
  }

  .intro--options>a {
    margin-right: 30px;
  }

  .intro--options>a:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .intro--banner {
    height: 305px;
  }

  .intro--banner h1 {
    font-size: 44px;
  }

  .intro--banner img {
    width: 330px;
  }

  .intro--options {
    display: block;
  }

  .intro--options>a {
    display: block;
    max-width: 100%;
    margin: 0 0 30px 0;
  }

  .intro--options>a:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .intro--banner {
    height: 360px;
  }

  .intro--banner h1 {
    font-size: 55px;
  }

  .intro--banner img {
    display: none;
  }
}

@media (max-width: 600px) and (max-height: 750px) {
  .intro--banner {
    height: auto;
  }

  .intro--banner::before,
  .intro--banner::after {
    display: none;
  }

  .intro--banner h1 {
    margin-top: 0;
  }

  .intro--options {
    display: none;
  }
}

/* footer */

.footer {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%);
  background-color: #ffffff;
  margin-top: 50px;
  padding: 20px 0 10px 0;

}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}


.footer ul {
  text-align: center;
}

.footer a {
  color: #111f4b;
  text-decoration: none;
  font-size: 16px;
}

.menu li a:hover {
  color: rgb(0, 102, 255);
}