<!DOCTYPE html>
<html lang="en">

<head>
  <title>SidikPA</title>
  <link rel="icon" type="image/x-icon" href="../static/img/icon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="https://kit.fontawesome.com/a2eed40a05.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img style="width: 90px;" src="../static/img/logo.png" alt="">
          </a>
          <nav class="navbar">
            <ul id="navbarNav" class="navbar-nav ms-auto">
              <li><a href="/index"><b>Home</b></a></li>
              <li> <a href="/about"><b>About</b></a></li>
              <li> <a href="/prediksi"><b>Prediction</b></a></li>
              <li> <a href="/team"><b>Team</b></a></li>
              <li> <a href="/contact"><b>Contact</b></a></li>
            </ul>
            <div class="toggle_btn">
              <i class="fa fa-bars" style="color: #111f4b;"></i>
            </div>
          </nav>
          <div class="dropdown_menu">
            <li><a href="/index"><b>Home</b></a></li>
            <li><a href="/about"></b>About</b></a></li>
            <li><a href="/prediksi"></b>Prediction</b></a></li>
            <li><a href="/team"></b>Team</b></a></li>
            <li><a href="/contact"></b>Contact</b></a></li>
          </div>
        </header>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <br>
                <h1 style="font-family: Nature Beauty Personal Use, sans-serif;">Ancol Tide</h1>
                <h2>Prediksi Pasang Surut<br>di Ancol, Jakarta Utara</h2>
                <br><br>
                <a href="/prediksi" class="cta"><b>Prediction</b></a>
                <img class="img" src="../static/img/hero.png" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>About Us</h3>
                  <p>Berisi tentang edukasi mengenai pasang surut air laut</p>
                </a>
                <a href="#0">
                  <h3>Prediction</h3>
                  <p>Berisi tentang inputan dan hasil prediksi pasang surut air laut di Ancol Jakarta </p>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--footer-->
  <br>
  <section class="footer">
    <div class="footer-1">
      <ul style="list-style: none;" class="menu">
        <li>
          <a href="./index.html"><b>Home</b></a>
        </li>
        <li>
          <a href="./about.html"><b>About</b></a>
        </li>
        <li>
          <a href="/prediksi"><b>Prediction</b></a>
        </li>
        <li>
          <a href="/team"><b>Team</b></a>
        </li>
        <li>
          <a href="./contact.html"><b>Contact</b></a>
        </li>
      </ul>
    </div>
    <p style="text-align: center; font-size: 16px;">
      © Copyright SidikPA 2023
    </p>
  </section>
  <!--footer -->
  <script src="../static/js/main.js">
  </script>
</body>

</html>